<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- inject values from properties file and use this in bean: <property name="plateNumber" value="${name.plateNumber}"/> -->
    <context:property-placeholder location="classpath:application.properties" />

    <!-- define dependency -->
    <bean id="winterTiresService"
          class="dev.andrejducho.spring.WinterTiresService">
    </bean>

    <!-- define bean, change implementation here with like FastCar for SlowCar -->
    <bean id="myCar"
          class="dev.andrejducho.spring.FastCar">

        <!-- constructor injection, constructor must be prepared in class -->
        <constructor-arg ref="winterTiresService" />

        <!-- setter injection, setter must be prepared in class
        <property name="tiresService" ref="myTiresService" />    -->




        <!-- injection literal values -->
        <property name="brand" value="BMW"/>
        <property name="owner" value="Peter"/>
        <!-- inject value from properties file -->
        <property name="plateNumber" value="${name.plateNumber}"/>

    </bean>

</beans>